@font-face {
	font-family: "Chakra Petch";
	src: url('fonts/ChakraPetch-Bold.ttf');
    font-weight:bold;
	font-style:normal;
}

*{
    padding:0;
    margin:0;
	font-family: "Chakra Petch", monospace, sans-serif;
    box-sizing:border-box;
    user-select:none;
}

body{
    color:white;
	cursor:none;
	height:100%;
	width:100%;
	overflow: hidden;
}

@font-face {
	font-family: 'SD Dystopian';
	src: url('fonts/Sddystopiandemo-GO7xa.otf') format('opentype');
    font-weight:bold;
	font-style:normal;
}

#cover{
	position:fixed;
	width:100dvw;
	height:100dvh;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
   	z-index:-1;
}

#bg-cover{
	height:250rem;
	aspect-ratio:1/1;
	border-radius:50%;
	background:linear-gradient(0deg, green, rgb(0, 0, 175));
	transform-origin:center;
	animation: spinBackground 15s infinite linear;
}

@keyframes spinBackground {
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

#cursor {
	position:absolute;
	background-color:white;
	height:10px;
	width:10px;
	border:1px solid black;
	border-radius: 50%;
	box-shadow: 0px 0px 8px 8px;
}

.cur{
	height:10px;
	width:10px;
	background-color:white;
}

@media (max-width:720px){
	#cursor{
		display:none;
	}
}

/* Nav */

nav{
    position:fixed;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:.25rem;
    backdrop-filter:blur(20px);
    background-color: rgba(255, 255, 255, 0.2);
    z-index:2;
}

#logo{
    font-size:2.75rem;
    display: flex;
    justify-content: center;
	align-item:center;
    flex-grow: 1;
}

#logo nobr{
	font-family: 'SD Dystopian';
	margin-bottom:.25rem;
}

ul{
    list-style:none;
    display:flex;
    justify-content: space-evenly;
    flex-grow: 3;
}

#hamburger{
    display: none;
}

/* Hamburger */

@media (max-width:768px){
    #hamburger{
        position: relative;
        right:5%;
        cursor:pointer;
        background-color: transparent;
        border: none;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        gap:.5rem;
    }
    
    .ham{
        height:3px;
        width:35px;
        background-color:white;
        border-radius:2.5px;
        transition: opacity 250ms linear, rotate 250ms linear;
    }

    #ham-mid-first{
        position: absolute;
    }

    ul{
        display: none;
    }

    .active-nav-bar{
        display: flex;
        position: absolute;
        right:0;
        top:0;
        background-color: rgba(255, 255, 255, 0.3);
        padding-inline:1.5rem;
        backdrop-filter: blur(5px);
        height:100dvh;
        flex-direction:column;
    }
}

/* Nav links styling */

li a{
    color:white;
    width:100px;
    text-decoration:none;
    display: flex;
    flex-direction:column;
    align-items:center;
    gap:.25rem;
    transition: color 1s ease-in-out;
}

.icons{
	height:1.5rem;
	aspect-ratio:1/1;
	filter:invert(100%);
}

li a nobr{
	display:flex;
	align-items:center;
	gap:.75rem;
}

/* Link hover border */

.link-border{
    height:2.5px;
    width:0px;
    background-color:lightblue;
    transition:width 250ms linear;
}

li:hover a .link-border, li a:hover, #active{
    width:100px;
    color:lightblue;
    cursor:none;
}

/* Main */

main{
	height:100dvh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.sec{
	scroll-snap-align:start;
	height:100vh;
}

/* Intro */

#home, #about, #projects, #skills, #contact-me{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

#intro-welcome{
    font-size:6vw;
    color:lightgrey;
}

#my-intro, #text-slider{
    font-size:3.5vw;
}

#intro-welcome, #my-intro, #text-slider{
    font-weight:bold;
}

#text-slider{
    color:orange;
}

#blinker{
    display: inline;
    animation-name: blink;
    animation-duration: 1s;
    animation: blink 1s  infinite linear;
}

@keyframes blink {
    0%,100%{
        color:white;
    }
    50%{
        color: transparent;
    }
}

/* About */

#about{
    padding-block:5rem;
    height:fit-content;
    min-height:100dvh;
}

#about-cover{
    max-width:1024px;
    width:80%;
    border-radius:.5rem;
    background-color:rgba(255, 255, 255, 0.2);
    backdrop-filter:blur(10px);
}

#details-cover{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    padding:1rem;
}

#details{
    margin:1.5rem;
    font-size:larger;
    text-align:center;
}

#picture{
    background-image: url('Profile.jpg');
    background-position: top;
    background-size: cover;
    height:25vh;
    aspect-ratio: 1/1;
    border-radius:50%;
}

#details b{
    font-size:x-large;
    font-weight:bold;
}

@media (max-width:768px){
    /* Main */
    #intro-welcome{
        font-size: 7vw;
    }

    #my-intro, #text-slider{
        font-size:5vw;
    }

    /* About */
    #about-cover{
        width:90%;
    }

    #about-cover img{
        width:auto;
        height:30vh;
    }
}

/* Projects */

#projects{
    height:100dvh;
}

#projects-container{
    height:100dvh;
    margin-top: 3.5rem;
    padding:2.5rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap:10vmin;
    row-gap:1rem;
}

#projects-container a{
    text-decoration:none;
}

.project-card{
    font-size:x-large;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    height:25vmin;
    aspect-ratio: 1/1;
    border-radius:1rem;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

#mail{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-direction:column;
    gap:2.5rem;
    border:2.5px solid white;
    border-radius:1rem;
    padding:1rem;
    font-size:x-large;
}

#mail label input{
    padding:.75rem;
    outline:none;
}

#mail label input, #mail button{
    font-size:large;
    background-color:transparent;
    border:1.5px solid white;
    border-radius:1rem;
    color:white;
}

#mail button{
    width:100%;
    padding:.5rem;
}
