*{
    padding:0;
    margin:0;
    font-family:sans-serif, 'Arial', monospace;
    box-sizing:border-box;
    user-select:none;
}

:root{
    --bg-color:rgb(57, 3, 78);
}

body{
    background-color:var(--bg-color);
    width:100%;
}

/* Nav */

nav{
    margin-block:2rem;
    padding:1.5rem;
    position:fixed;
    left:10%;
    width:90%;
    background-color:rgb(0, 0, 160);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius:2.5rem 0rem 0rem 2.5rem;
}

#nav-links{
    list-style:none;
    display:flex;
    justify-content: space-evenly;
    width:100%;
}

li a{
    color:white;
    width:100px;
    text-decoration:none;
    display: flex;
    flex-direction:column;
    align-items:center;
    gap:.25rem;
    transition: color 250ms linear;
}

.link-border{
    height:2.5px;
    width:0px;
    background-color:lightblue;
    transition:width 500ms linear;
}

li:hover a .link-border, li a:hover, #active{
    width:100px;
    color:lightblue;
}