*{
    padding:0;
    margin:0;
    font-family:sans-serif, 'Arial', monospace;
    box-sizing:border-box;
    user-select:none;
}

html{
    scroll-behavior:smooth;
}

:root{
    --bg-color:rgb(57, 3, 78);
}

body{
    background-color:var(--bg-color);
    width:100%;
    color:white;
}

/* Nav */

nav{
    position:fixed;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    backdrop-filter:blur(20px);
    background-color: rgba(255, 255, 255, 0.2);
    z-index:2;
}

#logo{
    font-size:xx-large;
    font-weight:bold;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

ul{
    list-style:none;
    display:flex;
    justify-content: space-evenly;
    flex-grow: 3;
}

#hamburger{
    display: none;
}

/* Hamburger */

@media (max-width:768px){
    #hamburger{
        position: relative;
        right:5%;
        cursor:pointer;
        background-color: transparent;
        border: none;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        gap:.5rem;
    }
    
    .ham{
        height:3px;
        width:35px;
        background-color:white;
        border-radius:2.5px;
        transition: opacity 250ms linear, rotate 250ms linear;
    }

    #ham-mid-first{
        position: absolute;
    }

    ul{
        display: none;
    }

    .active-nav-bar{
        display: flex;
        position: absolute;
        right:0;
        top:0;
        background-color: rgba(255, 255, 255, 0.3);
        padding-inline:1.5rem;
        backdrop-filter: blur(5px);
        height:100dvh;
        flex-direction:column;
    }
}

/* Nav links styling */

li a{
    color:white;
    width:100px;
    text-decoration:none;
    display: flex;
    flex-direction:column;
    align-items:center;
    gap:.25rem;
    transition: color 1s ease-in-out;
}

/* Link hover border */

.link-border{
    height:2.5px;
    width:0px;
    background-color:lightblue;
    transition:width 500ms linear;
}

li:hover a .link-border, li a:hover, #active{
    width:100px;
    color:lightblue;
}

/* Main */

/* Intro */

#home{
    background:linear-gradient(45deg, purple, var(--bg-color));
    height:100dvh;
}

#home, #about, #projects, #skills, #contact-me{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.sec:nth-child(even){
    background-color: rgb(0, 0, 75);
}

#intro-welcome{
    font-size:6vw;
    color:lightgrey;
}

#my-intro, #text-slider{
    font-size:3.5vw;
}

#intro-welcome, #my-intro, #text-slider{
    font-weight:bold;
}

#text-slider{
    color:orange;
}

#blinker{
    display: inline;
    animation-name: blink;
    animation-duration: 1s;
    animation: blink 1s  infinite linear;
}

@keyframes blink {
    0%,100%{
        color:white;
    }
    50%{
        color: transparent;
    }
}

/* About */

#about{
    padding-top:5rem;
    height:fit-content;
    min-height:100dvh;
}

#about-cover{
    max-width:1024px;
    width:80%;
    border-radius:.5rem;
    background-color:rgba(255, 255, 255, 0.2);
    backdrop-filter:blur(10px);
}

#about-cover p{
    font-size:2.5em;
    text-align: center;
    padding:1rem;
}

#details-cover{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    padding:1rem;
}

#about-cover img{
    width:15vw;
    background-position: center;
    background-size:cover;
    margin:1rem;
    border-radius:10rem;
}

#details{
    margin:1.5rem;
    font-size:larger;
    text-align:center;
}

#picture{
    background-image: url('Profile.jpg');
    background-position: top;
    background-size: cover;
    height:25vh;
    aspect-ratio: 1/1;
    border-radius:50%;
}

#details b{
    font-size:x-large;
    font-weight:bold;
}

@media (max-width:768px){
    /* Main */
    #intro-welcome{
        font-size: 7vw;
    }

    #my-intro, #text-slider{
        font-size:5vw;
    }

    /* About */
    #about-cover{
        width:90%;
    }

    #about-cover img{
        width:auto;
        height:30vh;
    }
}

/* Projects */

#projects{
    height:100dvh;
}

#projects p{
    font-size:2.5em;
}

#projects-container{
    height:80dvh;
    padding:2.5rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap:10vmin;
    row-gap:1rem;
}

.project-card{
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    text-decoration:none;
    height:25vmin;
    aspect-ratio: 1/1;
    border-radius:1rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.project-title{
    text-align:center;
    padding-top:1rem;
    font-size:large;
}